<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description:</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <div class="container fluid table">
      <div class= "row  d-flex justify-content-around">
        <% @products.each do |p| %>
        <div class="border border-white col-sm-3">
          <div class="myimages">
            <%= image_tag(p.image_url, class: "image-fluid") if p.image_url %>
          </div>
          <div>
            <h2>
              <%= link_to p.name, p %>
            </h2>
          </div>
          <hr>
            <%= p.description %>
          </hr>
          <hr>
            <%= p.colour %>
          </hr>
          <div>
          <%= p.price %>
          </div>
        </div><!-- /col --><!-- /col -->
        <% end %>


      </div>
    </div>

  </tbody>


<table>

<%= link_to 'New Product', new_product_path %>
