<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<%= image_tag(@product.image_url, width: "350", class: "img-zoom", data_zoom_image: "@product.image_url") %>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<p>
  <strong>Color:</strong>
  <%= @product.colour %>
</p>

<p>
<strong>Price</strong>
<%= @product.price %>
</p>


<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>


<div class="form-group">
<%= render 'new_comment' %>
<%= render 'comments' %>
</div>

<%= form_with(url: '/payments/create') do |form| %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>


<p>Average Rating: <div id="#average-rating",class="rated" data-score="<%= @product.average_rating %>"></div> </p>
<p>
<%= @product.comments.rating_desc.first %>
</p>

<p>
<%= @product.highest_rating_comment %>
</p>

<%= will_paginate @comments %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'destroy', product_path(@product), method: :delete%>
